@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Index</h1>

<form method="post">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var customer in Model.Customers)
                {
                <tr>
                    <td>@customer.Id</td>
                    <td>@customer.Name</td>
                    <td>@customer.Email</td>
                    <td><a asp-page="/Edit" asp-route-id="@customer.Id">Edit</a></td>
                    <td><button type="submit" asp-page-handler="Remove" asp-route-id="@customer.Id">Delete</button></td>
                </tr>
                }
            }
        </tbody>
    </table>
</form>
<span>@Model.Message</span>
